.contact-main {
    width: 85%;
    margin: auto;
    margin-top: 150px;
    height: auto;
    border: 1px solid white;
    background: black;
    opacity: 70%;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}
.contact-sub-main {
    width: 33%;
    /* border: 1px solid white; */
}
.contact-sub-main p {
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#id1 {
    margin-top: 50px;
}
.map {
    height: auto;
    width: auto;
    margin-left: 10%;
}